In [1]:
import pandas as pd

In [2]:
series = pd.Series([1,2,3,4], index=['a','b', 'c', 'd'])
series.iloc[0]

1

In [3]:
df = pd.DataFrame([[10,20,30],[100,200,300],[1000,2000,3000]], columns=['tens', 'hundred', 'thousand'], index = ['a','b', 'c'])

In [4]:
df

   tens  hundred  thousand
a    10       20        30
b   100      200       300
c  1000     2000      3000

In [5]:
obesity_data = pd.read_csv('obesityData.csv')
print(type(obesity_data))
obesity_data.head(20)

<class 'pandas.core.frame.DataFrame'>

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,Male,22.0,1.64,53.0,no,no,2.0,3.0,Sometimes,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,Male,24.0,1.78,64.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Frequently,Public_Transportation,Normal_Weight
9,Male,22.0,1.72,68.0,yes,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
10,Male,26.0,1.85,105.0,yes,yes,3.0,3.0,Frequently,no,3.0,no,2.0,2.0,Sometimes,Public_Transportation,Obesity_Type_I
11,Female,21.0,1.72,80.0,yes,yes,2.0,3.0,Frequently,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Overweight_Level_II
12,Male,22.0,1.65,56.0,no,no,3.0,3.0,Sometimes,no,3.0,no,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
13,Male,41.0,1.80,99.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Automobile,Obesity_Type_I
14,Male,23.0,1.77,60.0,yes,yes,3.0,1.0,Sometimes,no,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
15,Female,22.0,1.70,66.0,yes,no,3.0,3.0,Always,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
16,Male,27.0,1.93,102.0,yes,yes,2.0,1.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
17,Female,29.0,1.53,78.0,no,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,no,Automobile,Obesity_Type_I
18,Female,30.0,1.71,82.0,yes,yes,3.0,4.0,Frequently,yes,1.0,no,0.0,0.0,no,Automobile,Overweight_Level_II
19,Female,23.0,1.65,70.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_I

In [6]:
# To get random sample of data from the dataset
# obesity_data.sample() # For single row
obesity_data.sample(10) # for 10 rows, each time randomly generated.

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1546,Male,25.298400,1.827279,120.996074,yes,yes,3.000000,3.000000,Sometimes,no,3.000000,no,1.110215,0.396352,Sometimes,Public_Transportation,Obesity_Type_II
1857,Female,26.000000,1.623707,105.037463,yes,yes,3.000000,3.000000,Sometimes,no,2.553198,no,0.000000,0.393838,Sometimes,Public_Transportation,Obesity_Type_III
763,Male,21.000000,1.620000,70.000000,no,yes,2.000000,1.000000,no,no,3.000000,no,1.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
591,Male,19.556729,1.767563,56.307019,yes,yes,2.362918,4.000000,Sometimes,no,2.358172,no,2.000000,0.939819,no,Automobile,Insufficient_Weight
265,Male,18.000000,1.700000,50.000000,no,yes,1.000000,3.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
1764,Male,31.190219,1.842812,125.973927,yes,yes,2.151335,3.000000,Sometimes,yes,1.491169,no,0.883542,0.527766,Sometimes,Public_Transportation,Obesity_Type_II
1263,Female,37.832949,1.610867,80.000000,yes,yes,2.036613,1.816980,Sometimes,no,1.930590,no,1.851404,0.000000,Sometimes,Automobile,Obesity_Type_I
1112,Male,27.349745,1.835271,97.588260,yes,yes,2.923433,1.338033,Sometimes,no,1.944095,no,1.931829,1.000000,Sometimes,Public_Transportation,Overweight_Level_II
886,Male,19.478533,1.804099,85.196279,yes,yes,2.459976,3.308460,Sometimes,no,2.078011,no,1.779646,0.871772,Sometimes,Public_Transportation,Overweight_Level_I
1846,Female,19.885655,1.763343,133.952675,yes,yes,3.000000,3.000000,Sometimes,no,2.835622,no,1.419473,0.816986,Sometimes,Public_Transportation,Obesity_Type_III

In [7]:
# To control randomness use random_state parameter.
obesity_data.sample(10, random_state=20) # For random_state = 20
# We will get same values always.

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1662,Male,23.083621,1.848553,121.421121,yes,yes,3.000000,2.567567,Sometimes,no,2.011023,no,0.916478,0.000000,Sometimes,Public_Transportation,Obesity_Type_II
420,Male,18.000000,1.850000,60.000000,yes,yes,3.000000,4.000000,Sometimes,no,2.000000,yes,2.000000,0.000000,Sometimes,Automobile,Insufficient_Weight
2034,Female,26.000000,1.641849,111.682693,yes,yes,3.000000,3.000000,Sometimes,no,2.632253,no,0.000000,0.244205,Sometimes,Public_Transportation,Obesity_Type_III
1877,Female,21.344018,1.746516,144.302261,yes,yes,3.000000,3.000000,Sometimes,no,2.366510,no,1.247505,0.723366,Sometimes,Public_Transportation,Obesity_Type_III
1791,Male,24.001889,1.614075,100.245302,yes,yes,2.880483,1.703299,Sometimes,no,1.006378,no,1.076729,1.058007,no,Public_Transportation,Obesity_Type_II
265,Male,18.000000,1.700000,50.000000,no,yes,1.000000,3.000000,Frequently,no,1.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
964,Female,17.099015,1.600000,65.000000,yes,yes,3.000000,2.401341,Sometimes,no,2.000000,yes,0.663896,1.753745,Sometimes,Public_Transportation,Overweight_Level_I
1692,Male,30.916426,1.781139,120.794535,yes,yes,2.111887,3.000000,Sometimes,no,2.357373,no,0.425621,1.416353,Sometimes,Automobile,Obesity_Type_II
313,Male,17.000000,1.660000,56.000000,yes,yes,1.000000,3.000000,Always,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight
524,Female,20.225396,1.550648,44.641796,no,yes,3.000000,2.857787,Frequently,no,1.000000,no,0.754646,0.000000,Sometimes,Public_Transportation,Insufficient_Weight

In [8]:
# Get columns and indices
print(obesity_data.columns)
print(obesity_data.index)

# These are attributes of df
print(obesity_data.shape)
print(obesity_data.size)

Index(['Gender', 'Age', 'Height', 'Weight', 'family_history', 'FAVC', 'FCVC',
       'NCP', 'CAEC', 'SMOKE', 'CH2O', 'SCC', 'FAF', 'TUE', 'CALC', 'MTRANS',
       'Obesity'],
      dtype='object')
RangeIndex(start=0, stop=2111, step=1)
(2111, 17)
35887

In [9]:
# This is not an attribute. This is function.
obesity_data.describe()

,Age,Height,Weight,FCVC,NCP,CH2O,FAF,TUE
count,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000,2111.000000
mean,24.312600,1.701677,86.586058,2.419043,2.685628,2.008011,1.010298,0.657866
std,6.345968,0.093305,26.191172,0.533927,0.778039,0.612953,0.850592,0.608927
min,14.000000,1.450000,39.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,19.947192,1.630000,65.473343,2.000000,2.658738,1.584812,0.124505,0.000000
50%,22.777890,1.700499,83.000000,2.385502,3.000000,2.000000,1.000000,0.625350
75%,26.000000,1.768464,107.430682,3.000000,3.000000,2.477420,1.666678,1.000000
max,61.000000,1.980000,173.000000,3.000000,4.000000,3.000000,3.000000,2.000000

In [10]:
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [11]:
# can get description for a particular column too.
obesity_data['Gender'].describe()

count     2111
unique       2
top       Male
freq      1068
Name: Gender, dtype: object

<h3>Accessing Data Row/Col-Wise</h3>

In [12]:
# Using .loc[...,...] and .iloc[...,...]

obesity_data.loc[0:10,'Age':'FCVC']

     Age  Height  Weight family_history FAVC  FCVC
0   21.0    1.62    64.0            yes   no   2.0
1   21.0    1.52    56.0            yes   no   3.0
2   23.0    1.80    77.0            yes   no   2.0
3   27.0    1.80    87.0             no   no   3.0
4   22.0    1.78    89.8             no   no   2.0
5   29.0    1.62    53.0             no  yes   2.0
6   23.0    1.50    55.0            yes  yes   3.0
7   22.0    1.64    53.0             no   no   2.0
8   24.0    1.78    64.0            yes  yes   3.0
9   22.0    1.72    68.0            yes  yes   2.0
10  26.0    1.85   105.0            yes  yes   3.0

In [13]:
obesity_data.iloc[[1,2,4,6],[0,1,2,3]]

   Gender   Age  Height  Weight
1  Female  21.0    1.52    56.0
2    Male  23.0    1.80    77.0
4    Male  22.0    1.78    89.8
6  Female  23.0    1.50    55.0

<p>We can use .at() and .iat() too. These are optimized for single
value access.</p>

In [14]:
obesity_data.at[0,'Age']

21.0

In [15]:
obesity_data.iat[0,0]

'Female'

<h3>Accessing Columns</h3>

In [16]:
# obesity_data['Age']
obesity_data.Age
# Also same. But dot location can't work if col name has space

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64

In [17]:
obesity_data[['Age', 'Height']]

            Age    Height
0     21.000000  1.620000
1     21.000000  1.520000
2     23.000000  1.800000
3     27.000000  1.800000
4     22.000000  1.780000
...         ...       ...
2106  20.976842  1.710730
2107  21.982942  1.748584
2108  22.524036  1.752206
2109  24.361936  1.739450
2110  23.664709  1.738836

[2111 rows x 2 columns]

<h3>Filtering Data</h3>

In [18]:
# Surely .loc[] is most useful here. Because it is labelled based indexing.
# .iloc[] is position based. .loc[] takes boolean based indexing too.

In [19]:
mask = obesity_data['Height'] > 1.72
mask

0       False
1       False
2        True
3        True
4        True
        ...
2106    False
2107     True
2108     True
2109     True
2110     True
Name: Height, Length: 2111, dtype: bool

In [20]:
# We we can pass this mask to iloc[]
# obesity_data.loc[obesity_data['Height'] > 1.72, ["Gender","Age", "Height"]]

obesity_data.loc[mask, ["Gender","Age", "Height"]]

      Gender        Age    Height
2       Male  23.000000  1.800000
3       Male  27.000000  1.800000
4       Male  22.000000  1.780000
8       Male  24.000000  1.780000
10      Male  26.000000  1.850000
...      ...        ...       ...
2105  Female  21.285965  1.726920
2107  Female  21.982942  1.748584
2108  Female  22.524036  1.752206
2109  Female  24.361936  1.739450
2110  Female  23.664709  1.738836

[903 rows x 3 columns]

In [21]:
# Question, find the rows for which Weight < 50 and Obesity = 'Normal_Weight'

mask = (obesity_data['Weight'] < 50) & (obesity_data['Obesity'] == 'Normal_Weight')
# print(mask)
obesity_data.loc[mask]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [22]:
# So .loc[] supports boolean indexing. The thing is, even if we do don't 
# use .loc[] here it is fine.

obesity_data[mask] # gives the same output. It is shorthand notation.
# Can write the full mask too.

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
36,Female,22.0,1.56,49.0,no,yes,2.0,3.0,Sometimes,no,1.0,yes,2.0,0.0,no,Walking,Normal_Weight
37,Female,21.0,1.60,48.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
51,Female,20.0,1.50,44.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
60,Female,21.0,1.55,49.0,yes,yes,2.0,3.0,Sometimes,no,3.0,no,3.0,1.0,Sometimes,Public_Transportation,Normal_Weight
94,Female,24.0,1.60,48.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
113,Female,22.0,1.50,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Walking,Normal_Weight
156,Female,35.0,1.53,45.0,yes,no,3.0,3.0,Frequently,no,1.0,no,0.0,1.0,no,Automobile,Normal_Weight
176,Female,18.0,1.57,48.0,yes,yes,3.0,1.0,Always,no,1.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
180,Female,18.0,1.58,48.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,no,Public_Transportation,Normal_Weight
218,Female,21.0,1.50,42.3,yes,no,1.0,1.0,Sometimes,no,2.0,no,3.0,0.0,no,Public_Transportation,Normal_Weight
234,Female,19.0,1.59,49.0,yes,yes,2.0,1.0,no,no,2.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
244,Female,21.0,1.54,49.0,yes,no,2.0,1.0,Sometimes,no,2.0,yes,2.0,0.0,Sometimes,Public_Transportation,Normal_Weight
253,Female,26.0,1.59,47.0,yes,yes,2.0,1.0,Sometimes,no,2.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
303,Female,16.0,1.57,49.0,no,yes,2.0,4.0,Always,no,2.0,no,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
307,Female,23.0,1.59,48.0,yes,yes,2.0,1.0,Frequently,no,1.0,no,0.0,2.0,Sometimes,Public_Transportation,Normal_Weight
318,Female,25.0,1.56,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
346,Female,21.0,1.54,47.0,yes,no,3.0,3.0,Always,no,1.0,no,2.0,0.0,no,Public_Transportation,Normal_Weight
359,Female,33.0,1.56,48.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Public_Transportation,Normal_Weight
385,Female,16.0,1.55,45.0,no,yes,2.0,3.0,Frequently,no,2.0,no,1.0,1.0,no,Public_Transportation,Normal_Weight
445,Female,19.0,1.51,45.0,no,yes,2.0,4.0,Sometimes,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
457,Female,19.0,1.50,45.0,no,yes,2.0,3.0,Sometimes,no,1.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

<h3>Regular Expressions</h3>

In [23]:
mask1 = obesity_data['Obesity'].str.contains('Normal')
mask2 = obesity_data['Obesity'].str.startswith('Fat')

obesity_data.loc[mask1]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,Male,25.0,1.66,68.0,no,yes,2.0,3.0,Sometimes,yes,1.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
493,Male,20.0,1.80,65.0,no,yes,2.0,3.0,Frequently,no,1.0,no,2.0,0.0,Sometimes,Motorbike,Normal_Weight
494,Female,18.0,1.67,66.0,no,yes,3.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Normal_Weight
495,Male,19.0,1.80,60.0,yes,yes,3.0,1.0,Always,no,1.0,yes,0.0,0.0,no,Motorbike,Normal_Weight
497,Male,20.0,1.56,45.0,no,no,2.0,3.0,Sometimes,no,2.0,no,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

<h3>Updating Data</h3>

In [24]:
# Anything out of loc, iloc, at, iat and shorthand notation can be used
# for updating data
obesity_data.head(1)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight

In [25]:
obesity_data.loc[0,'Age'] = 22.0
# obesity_data.loc[0 : 10,'Age'] = 22.0
# All data of Age column will change for the rows 0 to 10. 

obesity_data.head(1)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
0,Female,22.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight

<h3>Transformation of Data</h3>

In [40]:
def increment_by_5(x):
    return x+5

obesity_data["Age"].apply(lambda x: x+5)

0       27.000000
1       26.000000
2       28.000000
3       32.000000
4       27.000000
          ...
2106    25.976842
2107    26.982942
2108    27.524036
2109    29.361936
2110    28.664709
Name: Age, Length: 2111, dtype: float64

In [41]:
# Adding a new column
obesity_data['Age Category'] = obesity_data['Age'].apply(lambda x: 'old' if x > 25 else 'young')

In [42]:
obesity_data

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category
0,Female,22.000000,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,young
1,Female,21.000000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,young
2,Male,23.000000,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,young
3,Male,27.000000,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,old
4,Male,22.000000,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,young
2107,Female,21.982942,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,young
2108,Female,22.524036,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,young
2109,Female,24.361936,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,young
2110,Female,23.664709,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,young

<h3>Insert, Drop, Delete, Rename Columns</h3>

In [48]:
# To add column at particular position.
obesity_data.insert(2,'BMI',obesity_data['Weight']/obesity_data['Height']**2)

# See the values, it is working because under the hood, those 2 are
# numpy arrays on which division is applied item-wise.

In [51]:
obesity_data.drop(columns = ['BMI', 'Age']) # Can give singe column name too.
# But it does not change the original df.
obesity_data.drop(columns = ['BMI', 'Age'], inplace=True)
# This will change the original df.

In [ ]:
# Another way to delete column is to use delete
del obesity_data['CAEC'] # Will change the original df.

In [58]:
help(obesity_data.rename) # Use this to know about the function.

obesity_data.rename(columns={'BMI' : 'New BMI', 'Age' : 'New Age'})
# But it is not inplace. To do that use inplace = True

Help on method rename in module pandas.core.frame:

rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore') method of pandas.core.frame.DataFrame instance
    Alter axes labels.

    Function / dict values must be unique (1-to-1). Labels not contained in
    a dict / Series will be left as-is. Extra labels listed don't throw an
    error.

    See the :ref:`user guide <basics.rename>` for more.

    Parameters
    ----------
    mapper : dict-like or function
        Dict-like or function transformations to apply to
        that axis' values. Use either ``mapper`` and ``axis`` to
        specify the axis to target with ``mapper``, or ``index`` and
        ``columns``.
    index : dict-like or function
        Alternative to specifying axis (``mapper, axis=0``
        is equivalent to ``index=mapper``).
    columns : dict-like or function
        Alternative to specifying axis (``mapper, axis=1``
        is equivalent to ``columns=mapper``).
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Axis to target with ``mapper``. Can be either the axis name
        ('index', 'columns') or number (0, 1). The default is 'index'.
    copy : bool, default True
        Also copy underlying data.
    inplace : bool, default False
        Whether to return a new DataFrame. If True then value of copy is
        ignored.
    level : int or level name, default None
        In case of a MultiIndex, only rename labels in the specified
        level.
    errors : {'ignore', 'raise'}, default 'ignore'
        If 'raise', raise a `KeyError` when a dict-like `mapper`, `index`,
        or `columns` contains labels that are not present in the Index
        being transformed.
        If 'ignore', existing keys will be renamed and extra keys will be
        ignored.

    Returns
    -------
    DataFrame or None
        DataFrame with the renamed axis labels or None if ``inplace=True``.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis and
        "errors='raise'".

    See Also
    --------
    DataFrame.rename_axis : Set the name of the axis.

    Examples
    --------
    ``DataFrame.rename`` supports two calling conventions

    * ``(index=index_mapper, columns=columns_mapper, ...)``
    * ``(mapper, axis={'index', 'columns'}, ...)``

    We *highly* recommend using keyword arguments to clarify your
    intent.

    Rename columns using a mapping:

    >>> df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
    >>> df.rename(columns={"A": "a", "B": "c"})
       a  c
    0  1  4
    1  2  5
    2  3  6

    Rename index using a mapping:

    >>> df.rename(index={0: "x", 1: "y", 2: "z"})
       A  B
    x  1  4
    y  2  5
    z  3  6

    Cast index labels to a different type:

    >>> df.index
    RangeIndex(start=0, stop=3, step=1)
    >>> df.rename(index=str).index
    Index(['0', '1', '2'], dtype='object')

    >>> df.rename(columns={"A": "a", "B": "b", "C": "c"}, errors="raise")
    Traceback (most recent call last):
    KeyError: ['C'] not found in axis

    Using axis-style parameters:

    >>> df.rename(str.lower, axis='columns')
       a  b
    0  1  4
    1  2  5
    2  3  6

    >>> df.rename({1: 2, 2: 4}, axis='index')
       A  B
    0  1  4
    2  2  5
    4  3  6

,Gender,New Age,New BMI,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,Age Category
0,Female,22.000000,0.343750,1.620000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight,young
1,Female,21.000000,0.375000,1.520000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight,young
2,Male,23.000000,0.298701,1.800000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight,young
3,Male,27.000000,0.310345,1.800000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I,old
4,Male,22.000000,0.244989,1.780000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,Female,20.976842,0.159631,1.710730,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III,young
2107,Female,21.982942,0.164367,1.748584,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III,young
2108,Female,22.524036,0.168480,1.752206,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III,young
2109,Female,24.361936,0.182696,1.739450,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III,young
2110,Female,23.664709,0.177300,1.738836,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III,young

<h3>Merge, Join & Concatenate Dataframes</h3>

In [60]:
df1 = pd.DataFrame({'id' : [1,2,3,4], 'name' : ['a', 'b', 'c', 'd']})
df2 = pd.DataFrame({'id' : [3,4,5,6], 'course' : ['c1', 'c2', 'c3', 'c4']})

merged_df = pd.merge(df1, df2, how = 'inner', on = 'id')
merged_df

   id name course
0   3    c     c1
1   4    d     c2

In [63]:
concat_df = pd.concat([df1, df2], axis = 0, keys = ['df1', 'df2'])
concat_df

       id name course
df1 0   1    a    NaN
    1   2    b    NaN
    2   3    c    NaN
    3   4    d    NaN
df2 0   3  NaN     c1
    1   4  NaN     c2
    2   5  NaN     c3
    3   6  NaN     c4

<h3>Handling NULL Values</h3>

In [67]:
concat_df['name'].fillna('No Name')

df1  0          a
     1          b
     2          c
     3          d
df2  0    No Name
     1    No Name
     2    No Name
     3    No Name
Name: name, dtype: object

In [68]:
concat_df.fillna({'name' : 'no name', 'course' : 'no course'})

       id     name     course
df1 0   1        a  no course
    1   2        b  no course
    2   3        c  no course
    3   4        d  no course
df2 0   3  no name         c1
    1   4  no name         c2
    2   5  no name         c3
    3   6  no name         c4

<h3>Group By</h3>

In [88]:
obesity_data.groupby('Gender').aggregate(['sum', 'mean'])

                 Age                    BMI                 Height            \
                 sum       mean         sum      mean          sum      mean
Gender
Female  25034.988684  24.002865  339.946761  0.325932  1713.959615  1.643298
Male    26289.909723  24.616020  299.080282  0.280038  1878.281278  1.758690

              Weight                    FCVC                    NCP            \
                 sum       mean          sum      mean          sum      mean
Gender
Female  85841.365833  82.302364  2677.714200  2.567319  2745.612650  2.632419
Male    96941.802872  90.769478  2428.885703  2.274238  2923.748163  2.737592

               CH2O                    FAF                   TUE
                sum      mean          sum      mean         sum      mean
Gender
Female  2024.549813  1.941083   883.563571  0.847137  675.058083  0.647227
Male    2214.362261  2.073373  1249.174865  1.169639  713.696882  0.668256

In [90]:
# help(obesity_data.groupby('Gender').aggregate)
obesity_data.groupby('Gender').aggregate(['sum', 'mean']).rename(columns={'sum': 'Total', 'mean': 'Average'})

                 Age                    BMI                 Height            \
               Total    Average       Total   Average        Total   Average
Gender
Female  25034.988684  24.002865  339.946761  0.325932  1713.959615  1.643298
Male    26289.909723  24.616020  299.080282  0.280038  1878.281278  1.758690

              Weight                    FCVC                    NCP            \
               Total    Average        Total   Average        Total   Average
Gender
Female  85841.365833  82.302364  2677.714200  2.567319  2745.612650  2.632419
Male    96941.802872  90.769478  2428.885703  2.274238  2923.748163  2.737592

               CH2O                    FAF                   TUE
              Total   Average        Total   Average       Total   Average
Gender
Female  2024.549813  1.941083   883.563571  0.847137  675.058083  0.647227
Male    2214.362261  2.073373  1249.174865  1.169639  713.696882  0.668256